<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/style.css">
	<title>Document</title>
</head>
<body>
	<div class="div-filters">
		<div class="div-item" class="div-one"></div>
		<div class="div-item" class="div-two"></div>
		<div class="div-item" class="div-tree"></div>
		<div class="div-item" class="div-four"></div>
	</div>
	<main class="table-chart-container">
		<div class="table-container">
			<table class="table">
				<thead>
					<tr>
						<th>Preço total</th>
						<th>Preço liquido</th>
						<th>Valor recebido</th>
						<th>Valor nao recebido</th>
					</tr>
				</thead>
				<tbody class="tbody">
				</tbody>
			</table>
			<div class="pagination-div">
				<button class="first">primeiro</button>
				<button class="prev"><</button>
				<p class="text">1</p>
				<button class="next">></button>
				<button class="last">ultimo</button>
			</div>
		</div>
		<div class="chart-container">
			<div class="pie-chart">
				<div class="slice slice1"></div>
				<div class="slice slice2"></div>
				<div class="slice slice3"></div>
				<div class="slice slice4"></div>
				<div class="slice slice5"></div>
			</div>
		</div>
	</main>
</body>
<script src="../js/index.js"></script>
</html>